
body {
  max-width: 425px;
  margin: 0 50px;
  height: 100%;
  background-color: #e6e6e6;
  color:#1b2552;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.time{
font-size: 3vh;
}
.signal{
    height: 20px;
    padding-right: 10px;
}
.wifi{
    height: 20px;
    padding-right: 10px;
}
.battery{
    height: 20px;
}
header{
    display: flex;
}
.symbols{
    display: flex;
    align-items: center;
    justify-content: end;
    justify-content: space-a;
    width: 325px;
}

.name {
  color: #1b2552;
  font-family:fantasy;
  font-size: 8vh;
  font-weight:lighter;
  margin-top: -1vh;
}
.login{
    color: #1b2552;
    border: 2px solid #1b2552;
    border-radius: 10px;
    max-height: 75px;
    width: 150px;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.description{
    color: #47bdf2;
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
}

.phone{
    height: 70vh;
    width: auto;
    margin-left: 4.9vw
}


.resources{
    text-align: center;
    font-size: 2.7vh;
    color: #1b2552;
}
.created{
    text-align:center;
    color: #47bdf2;
    font-size: 2.3vh
}
.empower{
    text-align: center;
    color: #1b2552;
    font-size: 2vh;
}

.button{
    display: flex;
    justify-content:center;
    width: 25vw;
    text-align: center;
    font-size: 2.1vh;
    color:#e6e6e6;
    background-color: #1b2552;
    border-radius: 5px;
    padding: 20px 50px;
    margin: auto;
}

.find{
    text-align:center;
    font-size: 3.5vh;
}

.imgPen{
    width: 35vh;
}

.penguin1{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.penguin2{
    display: flex;
    align-items: center;
    font-size:14px;
}

.penguin3{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.penguin4{
    display:flex;
    align-items: center;
    font-size: 14px;
}

.bold{
    font-weight: bold;
}


.italics{
    font-style: oblique;
    font-weight: lighter;
}

footer{
    background-color: #FBFBE0 ;
    text-align: center;
    padding: 10px 70px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: -50px;
    margin-right: -50px;
}